* {
    font-family: "Droid Sans";
}

#header {
    background-color: #009989;
    display: block;
    height: 100px;
    padding: 1px 5px 8px;
}

.diff-btn {
    padding: 5px 10px;
    color: white;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
    text-align: center;
}

.diff-btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.difficulty > button {
    cursor: pointer;
}

.difficulty > button:hover {
    background-color: #8a8f35;
}

#counter {
    position: relative;
    padding: 0 20px;
    font-size: 25pt;
    color: white;
    text-align: center;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
    z-index: 100;
    display: inline-block;
    float: right;
}

.levelUp{
  background-color: #14529b;
  
}

#level_num {
    float: left;
    display: inline-block;
    z-index: 100;
    position: relative;
    padding: 0 20px;
    font-size: 25pt;
    color: white;
    text-align: center;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
}

#level_description {
    text-align: center;
    z-index: 100;
    position: relative;
}

#time_remaining {
    text-align: center;
    font-size: 26pt;
    z-index: 100;
    position: relative;
}

#toggle_icon {
    height: 30px;
}

.difficulty {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

#catch_me {
    background: url(nyan-cat.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body {
    background: url(https://cdn.wallpapersafari.com/46/47/Yl7XT9.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: rubberBand;
}

.sound-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

h2 {
    height: 40px;
    padding: 0 20px;
    font-size: 16pt;
    color: white;
    text-align: center;
}

@media (max-width: 479px) {
    #level {
        display: flex;
        flex-direction: column;
    }

    #counter {
        order: 2
    }

    #level > * {
        flex: 1;
        margin: 10px 0;
        height: auto;
    }
}

#sound-toggle {
    padding: 5px 10px;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
}
