#header {
    background-color: #009989;
    display: block;
    height: 100px;
    padding: 1px 5px 8px;
}

.diff-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#counter {
    position: relative;
    height: 40px;
    padding: 0 20px;
    font-size: 25pt;
    color: white;
    text-align: center;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
    z-index: 100;
    display: inline-block;
    float: right;
}

#level_num {
    float: left;
    display: inline-block;
    z-index: 100;
    position: relative;
    height: 40px;
    padding: 0 20px;
    font-size: 25pt;
    color: white;
    text-align: center;
    background-color: #A3A948;
    border-radius: 20px;
    border: 1px solid #660066;
}

#level_description {
    text-align: center;
    z-index: 100;
    position: relative;
}

#time_remaining {
    text-align: center;
    font-size: 26pt;
    z-index: 100;
    position: relative;
}

.difficulty {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

#catch_me {
    background: url(nyan-cat.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body {
    background: url(https://cdn.wallpapersafari.com/46/47/Yl7XT9.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: rubberBand;
}

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

h2 {
    height: 40px;
    padding: 0 20px;
    font-size: 16pt;
    color: white;
    text-align: center;
}
